.module-1114 {
  background-color: #f6f6f6 !important;
}
.module-1114 .owl-magrin {
  margin: 0 auto;
}
.module-1114 .owl-magrin h1 {
  font-weight: 400;
  margin: 0;
  color: black;
  font-size: 3.3125rem;
  text-align: center !important;
}
.module-1114 .owl-magrin .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 100px;
  border: none;
  outline: none;
}
.module-1114 .owl-magrin .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 100px;
  border: none;
  outline: none;
}
.module-1114 .owl-magrin .owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  border: none;
}
.module-1114 .owl-magrin .text-wfrowmin {
  padding: 5px 20px 25px 25px;
}
.module-1114 .owl-magrin .text-wfrowmin h3 {
  margin-top: 0.9rem;
}
.module-1114 .owl-magrin .text-wfrowmin p {
  color: #777;
  line-height: 1.714;
  font-size: 15px;
  margin-bottom: 20px;
}
.module-1114 .owl-magrin .text-wfrowmin a {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 28px;
  text-decoration: none;
}
.module-1114 .owl-magrin .text-wfrowmin .button {
  font-size: 11px;
  padding: 0.9rem 1.9rem 0.9rem 1.7rem;
  background: transparent;
  border: 1px solid #cfcfd0;
  color: #555;
  text-transform: uppercase;
}
.module-1114 .owl-magrin .text-wfrowmin .button:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #106EAA;
  border-color: #106EAA;
  color: #fff;
}
