.module-1112 {
  background-color: #212121;
}
.module-1112 .text-wpbrow h2 {
  color: #ffffff;
}
.module-1112 .text-wpbrow hr {
  border-top: none;
  border-bottom: 2px solid;
  width: 60px;
  border-bottom-width: 4px;
  border-bottom-color: #db4436;
  margin: 0 0;
}
.module-1112 .text-wpbrow h4 {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.module-1112 #demos .owl-carousel .item {
  background: none;
}
@media only screen and (max-width: 1200px) {
  .module-1112 #demos .owl-carousel .item {
    background: none;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .module-1112 #demos .owl-carousel .item {
    height: 10rem;
    background: none;
  }
  .module-1112 .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .module-1112 #demos .owl-carousel .item {
    height: 10rem;
    background: none;
  }
  .module-1112 .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (min-width: 534px) and (max-width: 599px) {
  .module-1112 #demos .owl-carousel .item {
    height: 27rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 533px) {
  .module-1112 #demos .owl-carousel .item {
    height: 27rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .module-1112 #demos .owl-carousel .item {
    height: 24rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 424px) {
  .module-1112 #demos .owl-carousel .item {
    height: 21rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .module-1112 #demos .owl-carousel .item {
    height: 19rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 384px) {
  .module-1112 #demos .owl-carousel .item {
    height: 18rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .module-1112 #demos .owl-carousel .item {
    height: 17rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .module-1112 #demos .owl-carousel .item {
    height: 16rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .module-1112 #demos .owl-carousel .item {
    height: 14rem;
    background: none;
  }
  .module-1112 .colmn-center {
    margin: 0 auto;
  }
  .module-1112 .colmn-center .owl-carousel .owl-item img {
    width: 100%;
  }
}
